<h1 class="heading">Seller Auth Page</h1>
<h1 class="heading">Eladó <span>Bejelentkezés</span></h1>

<div class="login-form">
    <div class="login">
    <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)"
      class="common-form" >
        <input class="form-input" type="text" ngModel name="name" placeholder="Felhasznalónév">
        <input class="form-input" type="password" ngModel name="password" placeholder="Jelszó">
        <input class="form-input" type="text" ngModel name="email" placeholder="E-mail">
        <button class="btn">Bejelentkezés</button>
    </form>

    </div>
</div>