<section class="home" id="home">
    <div class="content">
        <h3>Üdvözöllek a Mythical marketsben</h3>
        <p>Nézz szét a boltunkban vagy vegyél részt a következó versenyen.</p>
            <a href="#chategory" class="btn">Vásárló vagyok</a>
            <a href="#competitions" class="btn2">Versenyző vagyok</a>
    </div>
</section>
<section class="about" id="competitions">
    <h1 class="heading"><span>Versenykiírások</span></h1>
  
    <div class="row">
      <div class="calendar">
        <div class="calendar-content">
          <p-calendar
            class=" custom-datepicker"
            [(ngModel)]="date"
            [inline]="true"
            [showWeek]="true"
          ></p-calendar>
        </div>
      </div>
  
      <div class="content">
        <h3>Következő versenyek:</h3>
        <p>Dátum: 2024. 08. 10 9:30<br></p>
  
        <p>Helyszín: <br> Bp. XI. Krerölet Budafoki út 183.<br></p>
        <p>Nevezési díj: <br> 2400Ft Hsz: 2200FT</p><br>
        <p>Díjazás: <br> 1-3 brutál UR, 4-10 bontatlan boosterek + egyéb apróságok<br></p>
        <p>Kategória: <br> ÚN hatalom korlátozása <br></p>
  
        <p>Leírás: <br>
          Szia, szeretettel meghívunk Augusztus 10.-én 9:30-tól kezdődő versenyünkre!
          <br>
          Szabályok: pakli méret legalább 50 lap, kiegészítő pakli engedélyezett. Ultra ritkák tiltottak és Behos tiltó él.
        </p>
  
        <a href="#" class="btn">Jelentkezem</a>
      </div>
    </div>
  </section>
  <!-- products starts-->
  <section class="products" id="popular">
    <h1 class="heading">Népszerű <span>Termékek</span></h1>
    <div class="box-container">
        
    </div>
 </section>
        
 <section class="products" id="HKK">
    <h1 class="heading">Hatalom kartyái <span>kártyajáték</span></h1>
    <div class="box-container">
        <div class="box">
            <img src="https://www.beholder.hu/pic/hirek/0034036.jpg" alt="" >
            <h3>Alap kiegészítők</h3>
            <a href="hkk/hkk.html" class="btn">Megnézem</a>
        </div>
        <div class="box">
            <img src="https://pakliszerkeszto.hkk.hu/HKKCardImage.php?cardID=8902&behoCK=b8a7bf417e5270a60de9b10573e5111c626ecc37" alt="" width="192px">
            <h3>Lapritkaságok</h3>
            <a href="hkk/rares.html" class="btn">Megnézem</a>
        </div>
        <div class="box">
            <img src="https://beholder.hu/pic/zoli/kepek/kreator/kreatordoboz.jpg" alt="">
            <h3>Bontatlan régiségek</h3>
            <a href="hkk/unpack.html"  class="btn">Megnézem</a>
        </div>
        <div class="box">
            <img src="https://pakliszerkeszto.hkk.hu/HKKCardImage.php?cardID=10911&masodlagos=1&behoCK=8029501dbdc700c1dd473fc8aacb5324029cb1ff" alt="">
            <h3>Sorok</h3>
            <a href="hkk/rows.html" class="btn">Megnézem</a>
        </div>
        
        <div class="box">
            <img src="https://pakliszerkeszto.hkk.hu/HKKCardImage.php?cardID=8237&behoCK=8029501dbdc700c1dd473fc8aacb5324029cb1ff" alt="" >
            <h3>MMarkets Zsákbamacska</h3>
            <a href="hkk/piginpoke.html" class="btn">Megnézem</a>
        </div>
    </div>
 </section> <br>
       <section class="products" id="Lego">
 
    <h1 class="heading">Lego</h1>
 
    <div class="box-container">
      <div class="box">
        <img src="https://assets.lego.com/logos/v4.5.0/brand-lego.svg" alt="">
        <h3>lego</h3>
        <a href="lego/lego.html" class="btn">Megnézem</a>
      </div>
      <div class="box">
        <img src="https://thebrickblogger.com/wp-content/uploads/2023/11/76269-LEGO-Avengers-Tower-1.jpg" alt="" width="192px">
        <h3>Lego:Avangers</h3>
        <a href="lego/avangers.html" class="btn">Megnézem</a>
      </div>
      <div class="box">
        <img src="https://kockashop.hu/galleries/lego/75095/mid/5.jpg" alt="">
        <h3>Lego: Star Wars</h3>
        <a href="lego/legosw.html" class="btn">Megnézem</a>
      </div>
      <div class="box">
        <img src="https://im.uniqlo.com/global-cms/spa/res15fda0f02b62de14f831e3131b8f3dbdfr.jpg" alt="">
        <h3>Minecraft</h3>
        <a href="lego/minecraft.html" class="btn">Megnézem</a>
      </div>
 </div>
  </section> <br>
  <section class="chategory" id="kieg">
    <h1 class="heading">Játék <span>Kiegészítők</span></h1>
    <div class="box-container">
        <div class="box">
            <img src="https://gemklub.cdn.shoprenter.hu/custom/gemklub/image/cache/w200h200q100/product/P14912_1.jpg.webp?lastmod=1723648609.1719984753" alt="" />
            <h3>Dobókockák</h3>
            <a href="/jks">Megnézem</a>
        </div>
        <div class="box">
            <img src="https://i.ebayimg.com/images/g/HoYAAOSwOvxkgCUF/s-l200.webp" alt=""/>
            <h3>Protectorok</h3>
            <a href="/jks">Megnézem</a>
        </div>
        <div class="box">
            <img src="https://hkk.sarkanyko.hu/public_storage/files/webshop/product/3554/20210317_201930.jpg" alt=""/>
            <h3>Mappák, mappalapok</h3>
            <a href="/jks">Megnézem</a>
        </div>
       
    </div>
 </section>
